html, body {

}

body {
    background: #f2f2f2;
}

.clock {
    color: #000000;
    font-size: 60px;
    font-family: sans-serif;
    letter-spacing: 7px;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}